---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <div class="navi">
        <h1>BOOSTING</h1>
       Szczuras Turbo Boosts 
        <img src="https://media.karousell.com/media/photos/products/2020/8/2/league_of_legends_boosting_s10_1596391557_aa095e70_progressive"/>

    </div>

  
  
  
  
   
</Layout>

<style>
  h1{
    color: rgb(236, 236, 236);
    text-align:center;
    font-weight: bold;
    font-size: 30px;
  }
  .navi{


border: 5px solid rgb(0, 0, 0);
border-radius: 5px;
background-color: rgba(64, 3, 86, 0.498);
height:700px;
width: auto;
margin-left: 300px;
margin-right: 300px;
color: rgba(255, 255, 255, 0.57);
font-size: 30px;
text-align:center;
font-weight: bold;
align-items: center;


}
  
  img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;

}


</style>