---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <div class="navi">
        <h1>FAQ</h1>
       Szczuras Turbo Boosts jest to strona oferujaca boosting konta  jak i coaching odpowiedzialni za ta strone sa ludziki z szamotuly mega op kozaki
        

    </div>

  
  
  
  
   
</Layout>

<style>
  h1{
    color: rgb(236, 236, 236);
    text-align:center;
    font-weight: bold;
  }
  .navi{


  border: 5px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgba(64, 3, 86, 0.498);
  height:700px;
  width: auto;
  margin-left: 300px;
  margin-right: 300px;
  color: rgba(255, 255, 255, 0.57);
  font-size: 40px;
  text-align:initial;
  font-weight: bold;
  
 
  }


</style>